{% extends "base.html" %}
{% block content %}
<div class="text-center mt-8">

    <h1 class="text-2xl font-bold mb-2 text-black">Partida: {{ game.room_name }}</h1>
    <p class="mb-6 text-black">Jugador actual: {{ game.active_player }}</p>

    <form method="POST" class="inline-block">
        {% csrf_token %}
        <div class="grid grid-cols-3 gap-2 w-48 mx-auto">
            {% for i in board %}
                <button 
                    type="submit"
                    name="square" 
                    value="{{ forloop.counter0 }}" 
                    class="border-2 border-gray-800 w-16 h-16 flex items-center justify-center text-2xl font-bold bg-white text-black hover:bg-gray-200">
                    {{ i }}
                </button>
            {% endfor %}
        </div>
    </form>

    {% if game.over %}
        <p class="text-green-600 font-bold mt-4">Ganador: {{ game.winner }}</p>
        
        <form method="POST" action="{% url 'games:delete_game' game.room_name %}" class="mt-4">
          {% csrf_token %}
          <button type="submit" class="bg-red-400 text-white px-3 py-1 rounded">
            Eliminar partida
          </button>
        </form>
    {% endif %}
</div>
{% endblock %}
